# chaves e variáveis de ambiente
.env
*.env
google-factcheck-api-key.env
portal-transparencia-api-key.env

# dados brutos/gerados
dados/**/*.csv
dados/**/*.xlsx
dados/**/*.parquet
dados/**/*.zip

# permitir datasets finais pequenos e versionados
!dados/dataset_unificado/
!dados/dataset_unificado/final/
!dados/dataset_unificado/final/dataset_final_treino_v1.csv

# python/cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# claude code
.claude/
.claude*

# ambiente virtual
.venv/
venv/

# arquivos temporários de editor
*.swp